
<%-include('./SupModules/Start.ejs')%>

<form method="post" action="/auth">
    <input name="name" type="text" placeholder="Админ">
    <input name="pass" type="password" placeholder="Пароль">
    <input type="submit" value="Войти в кабинет">
</form>

<%-include('./SupModules/End.ejs')%>